__pycache__
build
dist
./functions/__pycache__
logs
tests/lg_export_7972_1643216779.xls
tests/lg_export_17653_1643205774.xls
tests/lg_export_25321_1643214281.xls
tests/testDKL1.xlsx
tests/testDKL2.xlsx
tests/testLoadBanks.xlsx
.env
hiddenHook.py
app.spec
index.py
old.py
post.txt
templateLoadBanks.xlsx
test.pdf